*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: MedievalSharp, sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #999999;
}

.game-container {
  width: 900px;
  max-width: 80%;
  min-height: 570px;
  padding-top: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.direction {
  margin-bottom: 0px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}

button,
#submit {
  background-color: #999999;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

div {
  margin: 6px;
}

h1 {
  font-size: 30px;
}

#room-connections {
  display: flex;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  box-sizing: content-box;
  z-index: 1;
  padding-top: 400px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 5px;
  padding: 20px 30px;
  width: 80%;
  height: auto;
  position: relative;
}

#restart-modal img,
#message-modal img {
  margin-top: 15px;
  height: 100px;
  width: auto;
}

.modal-footer {
  margin: 20px 0px;
}

.header img {
  height: 50px;
  width: auto;
}

#cast,
#give {
  display: none;
}

a {
  color: darkblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer > button {
  font-size: 12px;
  color: darkblue;
  background-color: none;
  margin: 5px 10px;
}

footer > button:hover {
  text-decoration: underline;
}

li {
  text-align: left;
  list-style: none;
}

#attributions-list h2,
#instructions-list h2 {
  padding-bottom: 10px;
}
#attributions-list li {
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  .modal-content {
    width: 30%;
    height: auto;
  }
}
